# Pandas 04 â€” Sorting, Grouping, Merging, Joining, Concatenation

This module covers:
- Sorting data  
- Grouping (single & multi-column)  
- Merging DataFrames  
- Joining on index  
- Concatenating DataFrames

In [ ]:
import pandas as pd

df = pd.read_csv("../Datasets/employees.csv", encoding="latin1")
dataset = df.head(10)
dataset2 = df.tail(10)

dataset

## Sort by "BonusPercent" in ascending order

In [ ]:
dataset.sort_values(by="Bonus %", ascending=True, inplace=True)
dataset

## Group by "Team" and calculate total salary

In [ ]:
grouped = dataset.groupby("Team")["Salary"].sum()
grouped

## Group by multiple columns: "Team" + "First Name"

In [ ]:
grouped_multi = dataset.groupby(["Team", "First Name"])["Salary"].sum()
grouped_multi

## Merge dataset with departments on "Team"

In [ ]:
departments = pd.DataFrame({
    "Team": ["Finance", "Engineering", "HR", "Marketing"],
    "Manager": ["Alice", "Bob", "Carol", "David"]
})

merged = pd.merge(dataset, departments, on="Team", how="left")
merged

## Join using index ("First Name")

In [ ]:
bonus_data = pd.DataFrame({
    "First Name": ["John", "Jane", "Emily"],
    "Bonus Points": [120, 150, 100]
}).set_index("First Name")

joined = dataset.join(bonus_data, on="First Name", how="left")
joined

## Concatenate dataset and dataset2 vertically

In [ ]:
concatenated = pd.concat([dataset, dataset2], axis=0, ignore_index=True)
concatenated